{%extends "image_in.html"%}{%block content%}
<span><br><br></span>
<div class="jumbotron jumbotron-fluid" style=" position:absolute; top:40%; left:20%;background-color: transparent;">
    <div class="container" style=" background-color: beige;">
        <h1 style="font-size:20px; color:grey;font-family: serif; " class="display-4 ">Image Is Converted Into String</h1>
        <p style="color: black; font-family: cursive;" class="lead ">{{all_word}}</p>
    </div>
</div>


<img src="{{img1}} "> {%endblock%}